
*{
    margin: 5px;
    padding: 5px;
    font-family: 'roboto',sans-serif, serif;
}
p{
    font: weight 400;
    font-size: 1.2em;
    color: #0a0b0b;
    text-align: justify;
    background-attachment: fixed;
    background-color: #f9f9f9
}
.itálica{
    font-style: helvetica;
}
h1{
    color:#eae6f8;
    background-color: #E66EB2 ;
    font-family: 'helvetica', Times, serif;
    text-align: center;
    border: solid 3px #272761;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
}
h2{
    color: #3804c6;
}
h3{
    color: #23a8dc;
}
td{
    color: #363432;
}
th{
    color: #196774;
}
    img floact{
    float: center;
}        
    #main-photo{
        border: 5px red;
    }
    @media only screen and (max-width: 600px) {
        body {
            background-color: lightblue;
        }


    }